.btn {
    padding: 16.7px 20px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    border-radius: 8px;
    color: #181818;
    border: 2px solid var(--color-yellow);
    background-color: var(--color-yellow);
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17.5px;
    transition: all 0.4s ease;
}

.btn:hover {
    color: var(--color-white);
    border-color: var(--color-yellow);
    background-color: #181818;
}

@media (max-width: 769px) {
    .btn {
        padding: 12.7px 20px;
        width: 100%;
    }
}

.btn_noBg {
    padding: 14.7px 20px;
    color: var(--color-white);
    background-color: transparent;
}

@media (max-width: 769px) {
    .btn_noBg {
        padding: 12.7px 20px;
    }
}

.btn_noBg:hover {
    color: #181818;
    background-color: var(--color-yellow);
}

.btn_black {
    font-weight: 500;
    color: var(--color-white);
    border-color: #181818;
    background-color: #181818;
}

.btn_black:hover {
    color: #181818;
    background-color: transparent;
}

.btn_noBg.btn_black {
    color: #2B2B2B;
    border-color: #2B2B2B;
    background-color: transparent;
}

.btn_noBg.btn_black:hover {
    color: var(--color-white);
    border-color: #2B2B2B;
    background-color: #2B2B2B;
}

.btn svg {
    display: none;
}

.btn_arrowOn svg {
    display: block;
}

.btn_arrowOn:hover svg path {
    stroke: var(--color-white);
}

.btn_noBg svg path {
    stroke: var(--color-white);
}

.btn_noBg.btn_arrowOn:hover svg path {
    stroke: #181818;
}

.btn_black.btn_noBg svg path {
    stroke: #2B2B2B;
}

.btn_noBg.btn_black.btn_arrowOn:hover svg path {
    stroke: var(--color-white);
}

.btn_arrowOn {}

.btn_small {
    padding: 10px 36px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    width: 196px;
}

@media (max-width: 769px) {
    .btn_small {
        padding: 9.3px 20px;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
    }
}

.btn_small.btn_arrowOn {
    gap: 12px;
}

.btn_small.btn_arrowOn svg {
    width: 20px;
    height: 20px;
    display: block;
    transition: all 0.4s ease;
}

.btn_arrowOn:hover svg path {
    stroke: #FFF;
}