.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

@media (max-width: 769px) {
    .input-wrap {
        gap: 8px;
    }
}

.input-label-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    color: #141414;
}

@media (max-width: 769px) {
    .input-label-text {
        font-size: 12px;
    }
}

input {
    border-radius: 4px;
}

.input-wrap.type_1 input {
    padding: 9px 16px;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #D2DAE1;
    color: #141414;
}

@media (max-width: 769px) {
    .input-wrap.type_1 input {
        padding: 9px 16px;
        font-size: 12px;
    }
}

.input-wrap.type_1 input::placeholder {
    color: var(--color-gray);
}

.input-wrap.type_2 input {
    padding: 14.2px 12px;
    padding-left: 52px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    border: 1px solid rgba(28, 28, 28, 0.2);
    color: #141414;
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 992px) {
    .input-wrap.type_2 input {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .input-wrap.type_2 input {
        padding: 9px 12px;
        padding-left: 46px;
        font-size: 14px;
    }
}

.input-wrap.type_2 .input-wrap-icon {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

@media (max-width: 992px) {
    .input-wrap.type_2 .input-wrap-icon {
        width: 28px;
        height: 28px;
    }

    .input-wrap.type_2 .input-wrap-icon svg {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 575px) {
    .input-wrap.type_2 .input-wrap-icon {
        width: 26px;
        height: 26px;
    }
}

.input-wrap.type_2 input::placeholder {
    color: rgba(28, 28, 28, 0.2);
}

input.no-valid,
textarea.no-valid {
    color: red !important;
    border-color: red !important;
}

input.no-valid::placeholder,
textarea.no-valid::placeholder {
    color: red !important;
}

.agree-text {
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
}

@media (max-width: 992px) {
    .agree-text {
        font-size: 12px;
        line-height: 150%;
    }
}

.agree-text a {
    display: inline;
    text-decoration: underline;
}