.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 769px) {
    .input-wrap {
        gap: 8px;
    }
}

.input-label-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    color: #141414;
}

@media (max-width: 769px) {
    .input-label-text {
        font-size: 12px;
    }
}

input {
    border-radius: 4px;
}

.input-wrap.type_1 input {
    padding: 9px 16px;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #D2DAE1;
    color: #141414;
}

@media (max-width: 769px) {
    .input-wrap.type_1 input {
        padding: 9px 16px;
        font-size: 12px;
    }
}

.input-wrap.type_1 input::placeholder {
    color: var(--color-gray);
}

input.no-valid,
textarea.no-valid {
    color: red !important;
    border-color: red !important;
}

input.no-valid::placeholder,
textarea.no-valid::placeholder {
    color: red !important;
}

.agree-text {
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
}

@media (max-width: 992px) {
    .agree-text {
        font-size: 12px;
        line-height: 150%;
    }
}


.agree-text a {
    display: inline;
    text-decoration: underline;
}