.footer {
    padding-bottom: 20px;
    position: relative;
}

@media (max-width: 769px) {
    .footer {
        padding-bottom: 14px;
    }
}

.footer .my-container {
    position: relative;
}

@media (max-width: 769px) {
    .footer .my-container {
        padding: 0px;
    }
}

.footer__inner {
    padding: 11px 40px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #2B2B2B;
}

@media (max-width: 1199px) {
    .footer__inner {
        padding: 11px 30px;
    }
}

@media (max-width: 992px) {
    .footer__inner {
        padding: 24px 30px;
    }
}


@media (max-width: 769px) {
    .footer__inner {
        padding: 24px 20px;
    }
}

@media (max-width: 575px) {
    .footer__inner {
        padding: 24px 15px;
    }
}

.footer__main {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

@media (max-width: 992px) {
    .footer__main {
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .footer__main {
        gap: 24px;
    }
}

.footer__left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 28px;
    padding-top: 34px;
}

@media (max-width: 1460px) {
    .footer__left {
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        padding-top: 0;
    }
}

@media (max-width: 992px) {
    .footer__left {
        flex-direction: row;
        justify-content: space-between;
        gap: 28px;
    }
}

@media (max-width: 769px) {
    .footer__left {
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .footer__left {
        gap: 12px;
    }
}

.footer__logo-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 216px;
}

@media (max-width: 1460px) {
    .footer__logo-wrap {
        flex-direction: row;
        gap: 40px;
        max-width: 500px;
    }
}

@media (max-width: 992px) {
    .footer__logo-wrap {
        flex-direction: column;
        gap: 22px;
        max-width: 260px;
    }
}

@media (max-width: 769px) {
    .footer__logo-wrap {
        flex-direction: row;
        max-width: 600px;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .footer__logo-wrap {
        align-items: flex-start;
    }
}

.footer__logo-link {
    max-width: 200px;
}

@media (max-width: 1199px) {
    .footer__logo-link {
        max-width: 180px;
    }
}

@media (max-width: 575px) {
    .footer__logo-link {
        max-width: 130px;
    }
}

.footer__logo-text {
    font-size: 16px;
}

@media (max-width: 1199px) {
    .footer__logo-text {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .footer__logo-text {
        font-size: 12px;
    }
}

.footer__contacts {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    gap: 25px 28px;
}

@media (max-width: 769px) {
    .footer__contacts {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 90px;
    }
}

@media (max-width: 575px) {
    .footer__contacts {
        gap: 12px 16px;
    }
}

.footer__contact-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 575px) {
    .footer__contact-item:last-child {
        align-items: flex-end;
    }

    .footer__contact-item:nth-child(2) {
        order: 3;
    }

    .footer__contact-item:nth-child(3) {
        order: 2;
    }

    .footer__contact-item:nth-child(4) {
        order: 4;
    }
}

.footer__contact-label {
    line-height: 150%;
}

@media (max-width: 769px) {
    .footer__contact-label {
        font-weight: 500;
        color: var(--color-yellow);
    }
}

.footer__contact-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

@media (max-width: 1199px) {
    .footer__contact-link {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .footer__contact-link {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .footer__contact-link {
        font-size: 14px;
    }

    .footer__contact-link[href*="mailto"] {
        font-size: 12px;
    }
}

.footer__cmd {}

@media (max-width: 1199px) {
    .footer__cmd {
        gap: 12px;
    }
}

@media (max-width: 769px) {
    .footer__cmd {
        gap: 12px;
    }
}


@media (max-width: 1199px) {
    .footer__cmd .social-medias__item {
        width: 36px;
        height: 36px;
    }
}

@media (max-width: 575px) {
    .footer__cmd .social-medias__item {
        width: 28px;
        height: 28px;
    }
}

.footer__form-wrap {
    padding: 16px 47px;
    background-color: var(--color-white);
    border-radius: 10px;
    max-width: 624px;
    height: 100%;
}

@media (max-width: 1460px) {
    .footer__form-wrap {
        max-width: 540px;
    }
}

@media (max-width: 1199px) {
    .footer__form-wrap {
        padding: 16px 30px;
        max-width: 470px;
    }
}

@media (max-width: 992px) {
    .footer__form-wrap {
        max-width: none;
    }
}

@media (max-width: 769px) {
    .footer__form-wrap {
        padding: 19px 20px;
    }
}

@media (max-width: 575px) {
    .footer__form-wrap {
        padding: 19px 12px;
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media (max-width: 1199px) {
    .footer-form {
        gap: 12px;
    }
}

@media (max-width: 769px) {
    .footer-form {
        gap: 10px;
    }
}

.footer-form__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 769px) {
    .footer-form__header {
        gap: 8px;
        align-items: center;
    }
}

.footer-form__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    color: #141414;
}

@media (max-width: 1199px) {
    .footer-form__title {
        font-size: 26px;
    }
}

@media (max-width: 769px) {
    .footer-form__title {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .footer-form__title {
        font-size: 18px;
    }
}

.footer-form__pre-title {
    font-size: 16px;
    color: var(--color-gray);
    line-height: 150%;
}

@media (max-width: 1199px) {
    .footer-form__pre-title {
        font-size: 14px;
    }
}

@media (max-width: 769px) {
    .footer-form__pre-title {
        text-align: center;
    }
}

.footer-form__inputs {
    display: flex;
    gap: 16px;
    max-width: 504px;
}

@media (max-width: 1460px) {
    .footer-form__inputs {
        max-width: 504px;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .footer-form__inputs {
        flex-direction: row;
        max-width: none;
    }

    .footer-form__inputs>* {
        flex: 1;
    }
}

@media (max-width: 769px) {
    .footer-form__inputs {
        flex-direction: column;
        gap: 10px;
    }
}

.footer-form__buttons {
    display: flex;
    align-items: center;
    gap: 18px;
}

@media (max-width: 769px) {
    .footer-form__buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.footer-form__buttons .btn {
    flex-shrink: 0;
}

.footer__bottom {
    padding: 18px 40px 19px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    border-top: 1px solid #CCCCCC;
    border-radius: 0px 0px 10px 10px;
    background-color: #2B2B2B;
}

@media (max-width: 1199px) {
    .footer__bottom {
        padding: 18px 30px 19px;
    }
}

@media (max-width:769px) {
    .footer__bottom {
        padding: 18px 20px 19px;
    }
}

@media (max-width: 575px) {
    .footer__bottom {
        padding: 12px 15px 14px;
        font-size: 12px;
        color: #B2B2B2;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

.footer__copyright {}

.footer__who-made {}

.footer__who-made a {
    text-decoration: underline;
}