.my-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 70px 0;
    flex-direction: column;
    align-items: center;
}

@media (max-witdh: 575px) {
    .my-modal {
        padding: 58px 0;
    }
}

.my-modal[opened] {
    background-color: rgba(55, 55, 55, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.my-modal__container {
    max-width: 618px;
    position: relative;
    margin: auto;
}

@media (max-width: 769px) {
    .my-modal__container {
        padding: 0px 20px;
    }
}

@media (max-width: 575px) {
    .my-modal__container {
        padding: 0px 15px;
        max-width: none;
    }
}

.my-modal__content {
    padding: 32px;
    background-color: #FFF;
    border-radius: 4px;
    width: 100%;
}

@media (max-width: 769px) {
    .my-modal__content {
        padding: 30px 25px;
    }
}

@media (max-width: 575px) {
    .my-modal__content {
        padding: 27px 8px;
    }
}

.my-modal__form {}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    color: #1C1C1C;
}

@media (max-width: 1199px) {
    .modal-form__header {
        gap: 20px;
    }
}

@media (max-width: 769px) {
    .modal-form__header {
        gap: 15px;
    }
}

.modal-form__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
}

@media (max-width: 1199px) {
    .modal-form__title {
        font-size: 28px;
        line-height: 37px;
    }
}

@media (max-width: 769px) {
    .modal-form__title {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 575px) {
    .modal-form__title {
        font-size: 20px;
        line-height: 28px;
    }
}

.modal-form__pre-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

@media (max-width: 769px) {
    .modal-form__pre-title {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 575px) {
    .modal-form__pre-title {
        font-size: 14px;
        line-height: 22px;
    }
}

.modal-form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.modal-form__body .input-wrap {
    width: 100%;
}

.modal-form .agree-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #1C1C1C;
}

@media (max-width: 769px) {
    .modal-form .agree-text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 575px) {
    .modal-form .agree-text {
        font-size: 12px;
        line-height: 18px;
    }
}

.modal-form__buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

@media (max-width: 769px) {
    .modal-form__buttons {
        flex-direction: column;
        gap: 12px;
    }
}

.modal-form__buttons .btn {
    width: 191px;
}

@media (max-width: 769px) {
    .modal-form__buttons .btn {
        width: 100%;
    }
}

.submit-modal {}

.submit-modal .my-modal__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

@media (max-width: 992px) {
    .submit-modal .my-modal__content {
        gap: 20px;
    }
}

@media (max-width: 575px) {
    .submit-modal .my-modal__content {
        gap: 16px;
    }

    .submit-modal .modal-form__pre-title {
        max-width: 232px;
    }
}

@media (max-width: 575px) {
    .submit-modal .modal-form__header {
        gap: 10px;
    }
}

@media (max-width: 575px) {
    .submit-modal .my-modal__content {
        padding: 20px 8px;
    }
}

@media (max-width: 350px) {
    .submit-modal .modal-form__title {
        font-size: 18px;
        line-height: 27px;
    }
}

.submit-modal .btn {
    width: auto;
}