/* БЛОК - НАША ПРОДУКЦИЯ */
.our-products {}

.our-products h2 {
    margin-bottom: 41px;
}

.our-products__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 992px) {
    .our-products__cards {
        gap: 25px;
    }
}

@media (max-width: 575px) {
    .our-products__cards {
        gap: 18px;
    }
}

.our-products__card {
    border: 2px solid var(--color-yellow);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

@media (max-width: 769px) {
    .our-products__card {
        flex-direction: column;
    }
}

.our-products__card-img-wrap {
    max-width: 423px;
    height: 286px;
    flex-shrink: 0;
    position: relative;
}

@media (max-width: 992px) {
    .our-products__card-img-wrap {
        max-width: 336px;
        height: 250px;
    }
}

@media (max-width: 769px) {
    .our-products__card-img-wrap {
        max-width: 511px;
        height: 200px;
    }
}

@media (max-width: 575px) {
    .our-products__card-img-wrap {
        max-width: none;
        max-height: 156px;
    }
}

@media (max-width: 350px) {
    .our-products__card-img-wrap {
        max-height: 116px;
    }
}

.our-products__card-img-wrap img {
    width: 100%;
    height: 100%;
}

.our-products__card-img-wrap .mobile-img {
    display: none;
}

@media (max-width: 769px) {
    .our-products__card-img-wrap img:first-child {
        display: none;
    }

    .our-products__card-img-wrap .mobile-img {
        display: inline;
    }
}

.our-products__card-body {
    padding: 27px 24px 27px 16px;
    position: relative;
    color: var(--color-white);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 1460px) {
    .our-products__card-body {
        padding: 27px 24px 27px 24px;
    }
}

@media (max-width: 1199px) {
    .our-products__card-body {
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .our-products__card-body {
        padding: 27px 20px 27px 20px;
    }
}

@media (max-width: 575px) {
    .our-products__card-body {
        padding: 18px 12px 21px;
        gap: 14px;
    }
}

.our-products__card-text-info {
    font-size: 18px;
    line-height: 110%;
    color: #C2C2C2;
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 492px;
    margin-bottom: 10px;
}

@media (max-width: 1199px) {
    .our-products__card-text-info {
        font-size: 16px;
    }
}

@media (max-width: 769px) {
    .our-products__card-text-info {
        max-width: none;
    }
}

@media (max-width: 575px) {
    .our-products__card-text-info {
        font-size: 14px;
        margin-bottom: 3px;
    }
}

.our-products__card-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 110%;
    color: var(--color-white);
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .our-products__card-title {
        font-size: 26px;
    }
}

@media (max-width: 575px) {
    .our-products__card-title {
        font-size: 20px;
    }
}

.our-products__card-price {
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    .our-products__card-price {
        font-size: 20px;
    }
}

.our-products__card-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    gap: 24px;
    font-size: 16px;
    color: var(--color-white);
}

@media (max-width: 1199px) {
    .our-products__card-list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .our-products__card-list {
        font-size: 16px;
        gap: 16px;
    }
}

@media (max-width: 575px) {
    .our-products__card-list {
        font-size: 14px;
        gap: 14px;
    }
}

.our-products__card-list li {
    position: relative;
    padding-left: 34px;
    line-height: 24px;
}

@media (max-width: 1199px) {
    .our-products__card-list li {
        padding-left: 30px;
    }
}

@media (max-width: 575px) {
    .our-products__card-list li {
        padding-left: 28px;
        line-height: 18px;
    }
}

.our-products__card-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5578 1.81875C21.4922 1.86094 18.7969 4.88438 15.5719 8.53125C12.3469 12.1781 9.63751 15.2063 9.55782 15.2531C9.42189 15.3375 9.39376 15.3375 9.2297 15.2766C9.11251 15.2344 8.37657 14.5922 6.99845 13.3406C5.16564 11.6672 4.91251 11.4516 4.59376 11.3016C4.28439 11.1563 4.19064 11.1328 3.7922 11.1188C3.0797 11.0906 2.62501 11.2547 2.14689 11.7094C1.83751 12.0047 1.58439 12.4594 1.49532 12.8766C1.38751 13.4063 1.51876 14.0813 1.81876 14.5219C1.88907 14.625 3.23907 16.2938 4.82345 18.2344C7.0922 21.0141 7.74845 21.7922 7.94064 21.9188C8.30626 22.1625 8.65314 22.2656 9.09376 22.2656C9.70313 22.2656 10.2 22.0594 10.6172 21.6281C10.7438 21.5016 13.0406 17.8453 16.575 12.1547C19.7391 7.05469 22.3781 2.79844 22.4391 2.69531C22.4953 2.59219 22.5469 2.44688 22.5469 2.37656C22.5469 2.175 22.4109 1.92188 22.2469 1.82344C22.0641 1.71094 21.7219 1.70625 21.5578 1.81875Z' fill='%23F5C542'/%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
}

@media (max-width: 1199px) {
    .our-products__card-list li::before {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 575px) {
    .our-products__card-list li::before {
        width: 18px;
        height: 18px;
    }
}

.our-products__card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 27px;
    right: 24px;
}

@media (max-width: 1460px) {
    .our-products__card-buttons {
        margin-top: 10px;
        position: static;
        flex-direction: row;
    }

    .our-products__card-buttons * {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .our-products__card-buttons {
        flex-direction: column;
        margin-top: 0;
    }
}


/* БЛОК - О НАС */
.about {}

@media (max-width: 769px) {
    .about .my-container {
        padding: 0px;
    }
}

.about__inner {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: url('../assets/images/sections/about/bg-img.webp') no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 769px) {
    .about__inner {
        background-position: bottom;
        background-size: 100%;
        padding-bottom: 164px;
    }
}

@media (max-width: 575px) {
    .about__inner {
        padding-bottom: 123px;
        background-size: 100% 156px;
    }
}

.about__content {
    padding: 35px 73px 35px 47px;
    background-color: #FFFAEE;
    color: var(--color-black);
    border-radius: 0px 10px 10px 0px;
    max-width: 816px;
    position: relative;
}

@media (max-width: 1460px) {
    .about__content {
        padding: 35px 57px 35px 47px;
        max-width: 700px;
    }
}

@media (max-width: 1199px) {
    .about__content {
        padding: 30px 40px;
        max-width: 580px;
    }
}

@media (max-width: 992px) {
    .about__content {
        padding: 24px 30px;
        max-width: 530px;
    }
}

@media (max-width: 769px) {
    .about__content {
        padding: 24px 20px;
        max-width: none;
    }
}

@media (max-width: 575px) {
    .about__content {
        padding: 24px 15px;
    }
}

.about__content::after {
    content: "";
    display: block;
    height: 39px;
    width: 40px;
    background: url('../assets/images/sections/about/top-icon.svg') no-repeat;
    position: absolute;
    top: 32px;
    right: 28px;
}

@media (max-width: 1199px) {
    .about__content::after {
        height: 34px;
        width: 35px;
        top: 21px;
        right: 15px;
    }
}

.about h2 {
    margin-bottom: 24px;
}

@media (max-width: 1199px) {
    .about h2 {
        margin-bottom: 18px;
    }
}

@media (max-width: 992px) {
    .about h2 {
        margin-bottom: 16px;
    }
}

@media (max-width: 575px) {
    .about h2 {
        margin-bottom: 12px;
    }
}

.about__pre-title {
    color: var(--color-black);
    margin-bottom: 16px;
}

@media (max-width: 1199px) {
    .about__pre-title {
        margin-bottom: 14px;
    }
}

@media (max-width: 575px) {
    .about__pre-title {
        margin-bottom: 12px;
    }
}

.about__texts {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media (max-width: 1199px) {
    .about__texts {
        font-size: 14px;
        line-height: 1.215;
    }
}

@media (max-width: 992px) {
    .about__texts {
        gap: 12px;
    }
}

.about__texts .color-yellow {
    font-weight: 800;
}


/* БЛОК - ПОЛУЧИТЕ ПЕРСОНАЛЬНОЕ ПРЕДЛОЖЕНИЕ */
.personal-offer {}

.personal-offer .my-container {
    position: relative;
}

.personal-offer__wrapper {
    padding: 48px 0px 45px 66px;
    background-color: var(--color-yellow);
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 1460px) {
    .personal-offer__wrapper {
        padding: 38px 0px 35px 56px;
    }
}

@media (max-width: 1199px) {
    .personal-offer__wrapper {
        position: relative;
    }
}

@media (max-width: 992px) {
    .personal-offer__wrapper {
        padding: 30px 25px;
        padding-bottom: 330px;
    }
}

@media (max-width: 575px) {
    .personal-offer__wrapper {
        padding: 20px 18px;
        padding-bottom: 187px;
    }
}

.personal-offer__inner {}

.personal-offer__body {
    max-width: 811px;
}

@media (max-width: 1460px) {
    .personal-offer__body {
        max-width: 550px;
    }
}

@media (max-width: 1199px) {
    .personal-offer__body {
        max-width: 510px;
    }
}

@media (max-width: 992px) {
    .personal-offer__body {
        max-width: 610px;
    }
}

@media (max-width: 769px) {
    .personal-offer__body {
        max-width: none;
        text-align: center;
    }
}

.personal-offer__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.344;
    color: #2B2B2B;
}

@media (max-width: 1460px) {
    .personal-offer__title {
        font-size: 28px;
    }
}

@media (max-width: 992px) {
    .personal-offer__title {
        margin-bottom: 16px;
    }
}

@media (max-width: 575px) {
    .personal-offer__title {
        font-size: 24px;
        line-height: 1.334;
        margin-bottom: 12px;
    }
}

.personal-offer__texts {
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.5px;
    color: #111111;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 700px;
}

@media (max-width: 1199px) {
    .personal-offer__texts {
        font-size: 14px;
        line-height: 1.3;
        gap: 20px;
    }
}

@media (max-width: 769px) {
    .personal-offer__texts {
        gap: 16px;
    }
}

@media (max-width: 575px) {
    .personal-offer__texts {
        gap: 12px;
        line-height: 1.358;
    }
}

.personal-offer__texts .big-text {
    font-size: 20px;
    line-height: 1.35;
    font-weight: 500;
    color: #2B2B2B;
}

@media (max-width: 1199px) {
    .personal-offer__texts .big-text {
        font-size: 18px;
        line-height: 1.3;
    }
}

@media (max-width: 769px) {
    .personal-offer__texts .big-text {
        font-size: 14px;
        line-height: 1.286;
    }
}

.personal-offer__body .btn {
    margin-top: 25px;
}

@media (max-width: 1199px) {
    .personal-offer__body .btn {
        margin-top: 23px;
    }
}

@media (max-width: 769px) {
    .personal-offer__body .btn {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    .personal-offer__body .btn {
        margin-top: 17px;
    }
}

.personal-offer__img-wrap {
    max-width: 501px;
    position: absolute;
    top: 0;
    right: var(--padding);
    overflow: hidden;
}

@media (max-width: 1199px) {
    .personal-offer__img-wrap {
        max-width: 440px;
        right: -70px;
    }
}

@media (max-width: 992px) {
    .personal-offer__img-wrap {
        max-width: 700px;
        top: auto;
        bottom: -153px;
        right: -170px;
    }
}

@media (max-width: 769px) {
    .personal-offer__img-wrap {
        max-width: 570px;
        bottom: -119px;
        right: -40px;
    }
}

@media (max-width: 575px) {
    .personal-offer__img-wrap {
        max-width: 276px;
        bottom: -32px;
        right: -2px;
    }
}

.personal-offer__img-wrap img {
    position: relative;
    z-index: 5;
}

@media (max-width: 992px) {
    .personal-offer__img-wrap img {
        transform: scaleY(-1) rotate(354deg);
    }
}

@media (max-width: 575px) {
    .personal-offer__img-wrap img {
        transform: scaleY(-1);
    }
}

.personal-offer__img-wrap::before {
    content: '';
    position: absolute;
    top: -51%;
    right: -34%;
    width: 552px;
    height: 492px;
    background-image: url("data:image/svg+xml,%3Csvg width='552' height='493' viewBox='0 0 552 493' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='275.848' cy='246.169' rx='275.848' ry='246.169' fill='%23FFE18F'/%3E%3Cellipse cx='275.848' cy='246.169' rx='144.634' ry='129.073' fill='%23FFC336'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    z-index: 1;
}

@media (max-width: 992px) {
    .personal-offer__img-wrap::before {
        top: 0;
        right: 0;
        width: 500px;
    }
}

@media (max-width: 769px) {
    .personal-offer__img-wrap::before {
        top: 30px;
        right: -65px;
        width: 359px;
    }
}

@media (max-width: 575px) {
    .personal-offer__img-wrap::before {
        top: 0px;
        right: -100px;
        width: 324px;
    }
}


/* БЛОК - НАШИ ПРЕИМУЩЕСТВА */
.our-advantages {
    overflow: hidden;
}

.our-advantages .my-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 992px) {
    .our-advantages .my-container {
        gap: 26px;
    }
}

@media (max-width: 575px) {
    .our-advantages .my-container {
        gap: 18px;
    }
}

.our-advantages header {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media (max-width: 992px) {
    .our-advantages header {
        gap: 16px;
    }
}

@media (max-width: 575px) {
    .our-advantages header {
        gap: 14px;
    }
}

.our-advantages h2 {
    white-space: nowrap;
}

.our-advantages__pre-title {}

@media (max-width: 575px) {
    .our-advantages__pre-title {
        font-size: 14px;
        line-height: 1.215;
    }
}

.our-advantages__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #D2DAE1;
}

@media (max-width: 1199px) {
    .our-advantages__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 769px) {
    .our-advantages__cards {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
}

.our-advantages__card {
    padding: 21px 21px 17px 32px;
    background-color: #2B2B2B;
}

@media (max-width: 1199px) {
    .our-advantages__card:not(:nth-last-child(-n + 2)) {
        border-bottom: 1px solid #D2DAE1;
    }

    .our-advantages__card {
        padding: 18px 21px 17px 22px;
    }
}

@media (max-width: 992px) {
    .our-advantages__card-inner {
        gap: 12px;
    }
}

@media (max-width: 769px) {
    .our-advantages__card:not(:last-child) {
        border-bottom: 2px solid #D2DAE1;
    }
}

@media (max-width: 575px) {
    .our-advantages__card {
        padding: 13px 14px 13px 16px;
    }
}

.our-advantages__card:not(:last-child) {
    border-right: 1px solid #D2DAE1;
}

.our-advantages__card-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 992px) {
    .our-advantages__card-inner {
        gap: 12px;
    }
}

@media (max-width: 575px) {
    .our-advantages__card-inner {
        gap: 8px;
    }
}

.our-advantages__card-inner h3 {
    font-size: 20px;
    line-height: 120%;
}

@media (max-width: 1199px) {
    .our-advantages__card-inner h3 {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .our-advantages__card-inner h3 {
        font-size: 16px;
    }
}

.our-advantages__card-inner p {
    font-size: 14px;
    line-height: 150%;
}

@media (max-width: 430px) {
    .our-advantages__card-inner p {
        font-size: 12px;
        line-height: 1.4169;
    }
}


/* БЛОК - ЭТАПЫ СОТРУДНИЧЕСТВА */
.coop-stages {}

.coop-stages .my-container {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

@media (max-width: 1199px) {
    .coop-stages .my-container {
        gap: 27px;
    }
}

.coop-stages__pre-title {
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .coop-stages__pre-title {
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1.2224;
    }
}

.coop-stages__header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    color: #C8C8C8;
}

@media (max-width: 769px) {
    .coop-stages__header-text {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .coop-stages__header-text {
        max-width: 210px;
        line-height: 1.215;
        gap: 8px;
    }
}

.coop-stages__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-top: 14px;
    counter-reset: stage-number;
}

@media (max-width: 992px) {
    .coop-stages__cards {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 34px;
        padding-top: 20px;
    }
}

.coop-stages__card {
    padding: 66px 20px 22px 20px;
    background-color: var(--color-yellow);
    border-radius: 5px;
    position: relative;
}

@media (max-width: 1199px) {
    .coop-stages__card {
        padding: 56px 14px 16px 16px;
    }
}

@media (max-width: 992px) {
    .coop-stages__card {
        padding: 66px 20px 22px 20px;
    }
}

@media (max-width: 769px) {
    .coop-stages__card {
        padding: 56px 14px 16px 16px;
    }
}

.coop-stages__card:not(:last-child):after {
    content: "";
    display: block;
    width: 18px;
    height: 15px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.7071 8.07112C19.0976 7.6806 19.0976 7.04743 18.7071 6.65691L12.3431 0.292946C11.9526 -0.0975785 11.3195 -0.0975785 10.9289 0.292946C10.5384 0.68347 10.5384 1.31664 10.9289 1.70716L16.5858 7.36401L10.9289 13.0209C10.5384 13.4114 10.5384 14.0446 10.9289 14.4351C11.3195 14.8256 11.9526 14.8256 12.3431 14.4351L18.7071 8.07112ZM0 7.36401L0 8.36401L18 8.36401V7.36401V6.36401L0 6.36401L0 7.36401Z' fill='white'/%3E%3C/svg%3E") no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -22px;
}

@media (max-width: 992px) {
    .coop-stages__card:not(:last-child):after {
        width: 16px;
        height: 14px;
        top: auto;
        right: 50%;
        transform: translateX(-50%) rotate(90deg);
        bottom: -24px;
    }
}

.coop-stages__card-inner {}

.coop-stages__card-number {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #2B2B2B;
    border-radius: 50%;
    position: absolute;
    top: calc(-12px);
}

@media (max-width: 1199px) {
    .coop-stages__card-number {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 992px) {
    .coop-stages__card-number {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 769px) {
    .coop-stages__card-number {
        width: 50px;
        height: 50px;
    }
}

.coop-stages__card-number::after {
    content: counter(stage-number);
    counter-increment: stage-number;
    font-size: 64px;
    font-weight: 800;
    color: var(--color-yellow);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1199px) {
    .coop-stages__card-number::after {
        font-size: 54px;
    }
}

@media (max-width: 992px) {
    .coop-stages__card-number::after {
        font-size: 64px;
    }
}

@media (max-width: 769px) {
    .coop-stages__card-number::after {
        font-size: 54px;
    }
}

.coop-stages__body {
    font-size: 14px;
    line-height: 1.215;
    color: #141414;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.coop-stages__body h3 {
    font-size: 14px;
    color: #141414;
}

.coop-stages__body p {
    color: #141414;
}


/* БЛОК - ГЕОГРАФИЯ ПОСТАВОК */
.where-delivery {
    margin-bottom: 30px;
    overflow: hidden;
}

.where-delivery .my-container {
    display: flex;
    gap: 19px;
}

@media (max-width: 1460px) {
    .where-delivery .my-container {
        align-items: center;
    }
}

@media (max-width: 992px) {
    .where-delivery .my-container {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .where-delivery .my-container {
        gap: 8px;
        padding: 0px;
    }
}

.where-delivery__body {
    padding-bottom: 68px;
    position: relative;
}

@media (max-width: 1460px) {
    .where-delivery__body {
        padding-bottom: 50px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__body {
        padding-bottom: 0px;
    }
}

@media (max-width: 769px) {
    .where-delivery__body {
        gap: 8px;
        padding: 0px var(--padding)
    }
}

.where-delivery__body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 57px;
    display: block;
    width: 510px;
    height: 510px;
    background-image: url('../assets/images/sections/where-delivery/bg-sign.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

@media (max-width: 1460px) {
    .where-delivery__body::after {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__body::after {
        width: 380px;
        height: 380px;
    }

    .where-delivery h2 {
        margin-bottom: 18px;
    }
}

@media (max-width: 992px) {
    .where-delivery__body::after {
        width: 300px;
        height: 300px;
        bottom: auto;
        top: calc(19px + 44px);
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 575px) {
    .where-delivery__body::after {
        width: 290px;
        height: 290px;
        top: calc(19px + 36px);
    }
}

@media (max-width: 480px) {
    .where-delivery__body::after {
        top: calc(19px + 29px);
    }
}

@media (max-width: 350px) {
    .where-delivery__body::after {
        top: calc(19px + 27px);
    }
}

.where-delivery__texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 1.25;
}

@media (max-width: 1199px) {
    .where-delivery__texts {
        gap: 14px;
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .where-delivery__texts {
        line-height: 1.2145;
    }
}

.where-delivery__texts ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1.375;
}

@media (max-width: 1199px) {
    .where-delivery__texts ul {
        gap: 14px;
        margin-top: 2px;
    }
}

@media (max-width: 575px) {
    .where-delivery__texts ul {
        line-height: 1.215;
    }
}

.where-delivery__texts ul li {
    position: relative;
}

.where-delivery__texts ul li {
    list-style: none;
    padding-left: calc(22px + 8px);
    position: relative;
}

.where-delivery__texts ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88281 1.42205C6.64727 1.79588 3.76406 3.8412 2.3375 6.77596C1.69727 8.09081 1.375 9.49159 1.375 10.9697C1.375 12.1299 1.50391 12.9678 1.84766 14.0119C3.4375 18.8717 8.5293 21.6303 13.4922 20.3197C16.1176 19.6236 18.3477 17.8232 19.5895 15.3826C20.3113 13.9732 20.6336 12.6068 20.6293 10.9783C20.625 8.80409 19.9891 6.91346 18.6742 5.15604C18.3219 4.68768 17.4797 3.81971 17.0328 3.47167C15.5891 2.33729 13.8359 1.61541 12.0527 1.41776C11.593 1.3662 10.3383 1.37049 9.88281 1.42205ZM15.0648 7.66112C15.5547 7.91893 15.7738 8.55057 15.5289 9.03182C15.4902 9.10917 14.3258 10.3123 12.9379 11.7002C10.2266 14.4201 10.2051 14.4373 9.77969 14.4373C9.35859 14.4373 9.24258 14.3471 7.81172 12.9076C6.53125 11.6142 6.49258 11.5713 6.42383 11.3264C6.27344 10.815 6.50977 10.3209 6.99961 10.1146C7.18867 10.0373 7.5668 10.0373 7.76875 10.1189C7.87188 10.1619 8.25 10.5099 8.83867 11.0986L9.75391 12.0096L11.9109 9.85682C14.2828 7.49354 14.2141 7.5494 14.6996 7.57948C14.8328 7.58807 14.9961 7.62674 15.0648 7.66112Z' fill='%23F5C542'/%3E%3Cpath d='M11.8379 9.93438L9.77539 12.0098L11.8508 9.94727C13.7758 8.03086 13.9391 7.86328 13.909 7.86328C13.9047 7.86328 12.9723 8.7957 11.8379 9.93438Z' fill='%23F5C542'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.where-delivery__texts .big-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.334;
    margin-top: 4px;
}

@media (max-width: 1460px) {
    .where-delivery__texts .big-text {
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__texts .big-text {
        font-size: 16px;
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .where-delivery__texts .big-text {
        font-size: 13px;
        line-height: 1.231;
    }
}

.where-delivery__img {
    width: 700px;
    height: 450px;
}

@media (max-width: 1460px) {
    .where-delivery__img {
        width: 570px;
        height: 370px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__img {
        width: 407px;
        height: 267px;
    }
}

@media (max-width: 992px) {
    .where-delivery__img {
        width: 700px;
        height: 450px;
        align-self: center;
    }
}

@media (max-width: 769px) {
    .where-delivery__img {
        width: 100%;
        height: auto;
    }
}