/* БЛОК - ГЕОГРАФИЯ ПОСТАВОК */
.where-delivery {
    margin-bottom: 30px;
    overflow: hidden;
}

.where-delivery .my-container {
    display: flex;
    gap: 19px;
}

@media (max-width: 1460px) {
    .where-delivery .my-container {
        align-items: center;
    }
}

@media (max-width: 992px) {
    .where-delivery .my-container {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .where-delivery .my-container {
        gap: 8px;
        padding: 0px;
    }
}

.where-delivery__body {
    padding-bottom: 68px;
    position: relative;
}

@media (max-width: 1460px) {
    .where-delivery__body {
        padding-bottom: 50px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__body {
        padding-bottom: 0px;
    }
}

@media (max-width: 769px) {
    .where-delivery__body {
        gap: 8px;
        padding: 0px var(--padding)
    }
}

.where-delivery__body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 57px;
    display: block;
    width: 510px;
    height: 510px;
    background-image: url('../assets/images/sections/where-delivery/bg-sign.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

@media (max-width: 1460px) {
    .where-delivery__body::after {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__body::after {
        width: 380px;
        height: 380px;
    }

    .where-delivery h2 {
        margin-bottom: 18px;
    }
}

@media (max-width: 992px) {
    .where-delivery__body::after {
        width: 300px;
        height: 300px;
        bottom: auto;
        top: calc(19px + 44px);
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 575px) {
    .where-delivery__body::after {
        width: 290px;
        height: 290px;
        top: calc(19px + 36px);
    }
}

@media (max-width: 480px) {
    .where-delivery__body::after {
        top: calc(19px + 29px);
    }
}

@media (max-width: 350px) {
    .where-delivery__body::after {
        top: calc(19px + 27px);
    }
}

.where-delivery__texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 1.25;
}

@media (max-width: 1199px) {
    .where-delivery__texts {
        gap: 14px;
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .where-delivery__texts {
        line-height: 1.2145;
    }
}

.where-delivery__texts ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1.375;
}

@media (max-width: 1199px) {
    .where-delivery__texts ul {
        gap: 14px;
        margin-top: 2px;
    }
}

@media (max-width: 575px) {
    .where-delivery__texts ul {
        line-height: 1.215;
    }
}

.where-delivery__texts ul li {
    position: relative;
}

.where-delivery__texts ul li {
    list-style: none;
    padding-left: calc(22px + 8px);
    position: relative;
}

.where-delivery__texts ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88281 1.42205C6.64727 1.79588 3.76406 3.8412 2.3375 6.77596C1.69727 8.09081 1.375 9.49159 1.375 10.9697C1.375 12.1299 1.50391 12.9678 1.84766 14.0119C3.4375 18.8717 8.5293 21.6303 13.4922 20.3197C16.1176 19.6236 18.3477 17.8232 19.5895 15.3826C20.3113 13.9732 20.6336 12.6068 20.6293 10.9783C20.625 8.80409 19.9891 6.91346 18.6742 5.15604C18.3219 4.68768 17.4797 3.81971 17.0328 3.47167C15.5891 2.33729 13.8359 1.61541 12.0527 1.41776C11.593 1.3662 10.3383 1.37049 9.88281 1.42205ZM15.0648 7.66112C15.5547 7.91893 15.7738 8.55057 15.5289 9.03182C15.4902 9.10917 14.3258 10.3123 12.9379 11.7002C10.2266 14.4201 10.2051 14.4373 9.77969 14.4373C9.35859 14.4373 9.24258 14.3471 7.81172 12.9076C6.53125 11.6142 6.49258 11.5713 6.42383 11.3264C6.27344 10.815 6.50977 10.3209 6.99961 10.1146C7.18867 10.0373 7.5668 10.0373 7.76875 10.1189C7.87188 10.1619 8.25 10.5099 8.83867 11.0986L9.75391 12.0096L11.9109 9.85682C14.2828 7.49354 14.2141 7.5494 14.6996 7.57948C14.8328 7.58807 14.9961 7.62674 15.0648 7.66112Z' fill='%23F5C542'/%3E%3Cpath d='M11.8379 9.93438L9.77539 12.0098L11.8508 9.94727C13.7758 8.03086 13.9391 7.86328 13.909 7.86328C13.9047 7.86328 12.9723 8.7957 11.8379 9.93438Z' fill='%23F5C542'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.where-delivery__texts .big-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.334;
    margin-top: 4px;
}

@media (max-width: 1460px) {
    .where-delivery__texts .big-text {
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__texts .big-text {
        font-size: 16px;
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .where-delivery__texts .big-text {
        font-size: 13px;
        line-height: 1.231;
    }
}

.where-delivery__img {
    width: 700px;
    height: 450px;
}

@media (max-width: 1460px) {
    .where-delivery__img {
        width: 570px;
        height: 370px;
    }
}

@media (max-width: 1199px) {
    .where-delivery__img {
        width: 407px;
        height: 267px;
    }
}

@media (max-width: 992px) {
    .where-delivery__img {
        width: 700px;
        height: 450px;
        align-self: center;
    }
}

@media (max-width: 769px) {
    .where-delivery__img {
        width: 100%;
        height: auto;
    }
}