:root {
    --color-yellow: #F5C542;
    --color-yellowTitle: #E9B949;
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #707D89;
    --color-bg: #181818;

    --padding: 20px;

    --header-height: 165px;
}

@media (max-width: 992px) {
    :root {
        --header-height: 86px;
    }
}

@media (max-width: 769px) {
    :root {
        --header-height: 76px;
    }
}

@media (max-width: 575px) {
    :root {
        --header-height: 62px;
        --padding: 15px;
    }
}

@media (max-width: 348px) {
    :root {
        --header-height: 72px;
        --padding: 15px;
    }
}